.c9/
.venv/

# Ignorer Terraform state-filer og sikkerhetskopier
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignorer ZIP-filer og andre binærfiler
*.zip

# Ignorer Terraform-krasjlogger
crash.log

# Ignorer output-filer og midlertidige filer
*.out
*.log
*.bak

# Ignorer variabel-filer med sensitive data
*.tfvars
